<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
  <a
    href="En espera de componente"
    class="btn btn-primary btn-component"
    data-spy="affix"
    data-offset-top="600"
    ><i class="ti-shift-left-alt"></i> Components</a
  >
  <!-- header -->
  <app-header></app-header>

  <!-- nav-bar -->
  <app-nav-bar></app-nav-bar>
  
  <!-- inf-container -->
  <app-inf-container></app-inf-container>

  <!--Resume Section-->
  <app-resume-section></app-resume-section>

  <!-- Portfolio Section -->
  <app-portafolio-section></app-portafolio-section>

  <!-- Map and Contac -->
  <app-map-and-contac></app-map-and-contac>

  <!-- footer -->
  <app-footer></app-footer>
</body>
